body {
    width: 960px;
    margin: 10px auto;
}
nav {
    display:inline-block;
    width: 300px;
    padding: 40px 10px;
    vertical-align: top;
}
section{
    display:inline-block;
    width: 600px;
    padding: 20px;
}
